@{
    ViewBag.Title = "QLSanPham";
    Layout = "~/Views/Shared/LayoutChungAdmin.cshtml";
}
<link href="~/bootstrap5_2_3/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/bootstrap5_2_3/css/bootstrap.css" rel="stylesheet" />
@using Code_Nhom_07.Models;
@model List<TUISACH>
<div class="row mt-3">
    <div class="tieuDe">
        <p>Danh Sách Sản Phẩm</p>
    </div>
</div>
<div class="row mt-2">
    <div class="row">
        <div class="dsSP">
            <nav class="navbar navbar-expand-sm">
                <div class="container">
                    <ul class="navbar-nav">
                        <li class="nav-item" style="background-color: #66FF33;">
                            <a href="/Admin/taoMoiSanPham" class="nav-link">Tạo mới sản phẩm</a>
                        </li>
                        <li class="nav-item" style="background-color: #66FF33;">
                            <a href="#" class="nav-link">Xóa tất cả</a>
                        </li>
                    </ul>
                    <div class="row">

                    </div>
                </div>
            </nav>
            <hr style="border: 1px solid gray;">
            <div style="width: 200px;">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button class="btn">Tìm kiếm</button>
                </div>
            </div>
            <table class="table text-center">
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Mã thương hiệu</th>
                    <th>Hình ảnh</th>
                    <th>Xuất xứ</th>
                    <th>Giá bán</th>
                    <th>Mã loại</th>
                    <th>Chất liệu</th>
                    <th>Chiều cao</th>
                    <th>Chiều rộng</th>
                    <th>Chiều dài</th>
                    <th>Màu sắc</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaTuiSach</td>
                        <td>@item.TenTuiSach</td>
                        <td>@item.MaThuongHieu</td>
                        <td>
                            <img src="~/assets/img/@item.HinhAnh" style="width: 30px; height: 30px" alt="Alternate Text" />
                        </td>
                        <td>@item.XuatXu</td>
                        <td>@item.GiaBan</td>
                        <td>@item.MaLoai</td>
                        <td>@item.ChatLieu</td>
                        <td>@item.ChieuCao</td>
                        <td>@item.ChieuRong</td>
                        <td>@item.ChieuDai</td>
                        <td>@item.MauSac</td>
                        <td>
                            <a href="/Admin/SuaSanPham/@item.MaTuiSach">Sửa|</a>
                            <a href="/Admin/XoaSanPham/@item.MaTuiSach">Xóa</a>
                        </td>
                    </tr>}

            </table>
        </div>
    </div>
</div>
